* {
  background-color: rgba(0,255,0,1);
}

a {
  text-decoration: none;
  color: black;
}

.split {
  display: flex;
  justify-content: space-between;
}

.leftside {
  margin-left: 2%;
  margin-right: 2%;
}

#logo {
  width: 490px;
}
