.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,255,0,1);
}

.rowify {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
  line-height: 30px;
}

#curve-border {
  border: 1px solid black;
  border-radius: 5px;
}
