* {
  background-color: rgba(0,255,0,1);
}

.navbar {
  /* position: fixed;
  top: 0;
  width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
}

a {
  text-decoration: none;
  color: black;
}

#m-icon {
  margin-top: 1%;
  width: 45px;
  height: 45px;
}

#curve-border {
  border: 1px solid black;
  border-radius: 5px;
}

.rowify {
  display: flex;
  flex-direction: row;
  align-items: center;
}
