<div class="mainSpread">
  <div class="topStories">
    <img src="../../assets/img/tensorflow.png" alt="">
    <h2>TensorFlow is dead, long live TensorFlow!</h2>
    <p>If you're an AI enthusiast and you didn't see the big news this month, you might have just snoozed through an off-the-charts earthquake...</p>
  </div>
  <div class="topStories">
    <img src="../../assets/img/blockchain.png" alt="">
    <h2>Combining Blockchain and File Storage Might Just Decentralize the Internet</h2>
    <p>See how using blockchain as a tool will propel cloud storage to greater heights for a decentralized future.</p>
  </div>

</div>
