.grid {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  margin: 0 10%;
}

img {
  width: 328px;
}

a {
  text-decoration: none;
  color: #008E00;
}

.bottom {
  display: flex;
}

.sort {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: -1%;
  margin-left: 2%;
}

.insta {
  width: 32px;
  height: 32px;
}

.arranged {
  max-width: 328px;
}

#date-details {
  margin-top: 1px;
}
