.flexMe {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

img {
  max-width: 328px;
  max-height: 174px;
}

a {
  text-decoration: none;
  color: #008E00;
}

.bottom {
  display: flex;
}

.sort {
  margin-top: -1%;
  margin-left: 2%;
}

.insta {
  max-width: 32px;
  max-height: 32px;
}

.arranged {
  max-width: 328px;
}

#date-details {
  margin-top: 1px;
}
