<div class="grid">
  <div class="arranged">
    <img src="../../assets/img/game-of-thrones.png" alt="">
    <h2>Announcing Guess the Throne | A Game of Thrones Death Pool</h2>
    <p>Spoilers ahead! Please don't visit the website or read this post if you're not caught up.</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/marcus-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">Marcus Wood</a>
        <p id="date-details">Mar 29 - 3 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/game-of-thrones.png" alt="">
    <h2>Announcing Guess the Throne | A Game of Thrones Death Pool</h2>
    <p>Spoilers ahead! Please don't visit the website or read this post if you're not caught up.</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/marcus-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">Marcus Wood</a>
        <p id="date-details">Mar 29 - 3 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/game-of-thrones.png" alt="">
    <h2>Announcing Guess the Throne | A Game of Thrones Death Pool</h2>
    <p>Spoilers ahead! Please don't visit the website or read this post if you're not caught up.</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/marcus-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">Marcus Wood</a>
        <p id="date-details">Mar 29 - 3 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/game-of-thrones.png" alt="">
    <h2>Announcing Guess the Throne | A Game of Thrones Death Pool</h2>
    <p>Spoilers ahead! Please don't visit the website or read this post if you're not caught up.</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/marcus-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">Marcus Wood</a>
        <p id="date-details">Mar 29 - 3 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/game-of-thrones.png" alt="">
    <h2>Announcing Guess the Throne | A Game of Thrones Death Pool</h2>
    <p>Spoilers ahead! Please don't visit the website or read this post if you're not caught up.</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/marcus-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">Marcus Wood</a>
        <p id="date-details">Mar 29 - 3 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/game-of-thrones.png" alt="">
    <h2>Announcing Guess the Throne | A Game of Thrones Death Pool</h2>
    <p>Spoilers ahead! Please don't visit the website or read this post if you're not caught up.</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/marcus-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">Marcus Wood</a>
        <p id="date-details">Mar 29 - 3 min read</p>
      </div>
    </div>
  </div>
</div>
