<div *ngFor="let story of stories | async" class="flexMe">
  <div class="arranged">
    <img src="{{story.img}}" alt="">
    <h2>{{story.title}}</h2>
    <p>{{story.description}}</p>
    <div class="bottom">
      <img class="insta" src="{{story.profile}}" alt="">
      <div class="sort">
        <a href="#">{{story.name}}</a>
        <p id="date-details">{{story.dateRead}}</p>
      </div>
    </div>
  </div>
  <!-- <div class="arranged">
    <img src="../../assets/img/seed-fundraising.jpeg" alt="">
    <h2>Seed Fundraising | The 4 Stages of a VC Process</h2>
    <p>The venture capital ("VC") meeting process can be opaque and leave you wondering when you'll get a decision on if they'll invest in your...</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/ash-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">Ash Rust</a>
        <p id="date-details">Mar 29 - 4 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/kaggle-grandmaster.jpg" alt="">
    <h2>Interview with Kaggle Grandmaster, Data Scientist at Point API: Pavel Pleskov</h2>
    <p>Part 25 of the series where I interview my heroes.</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/sanyam-insta.png" alt="">
      <div class="sort">
        <a href="#">Sanyam Bhutani</a>
        <p id="date-details">Mar 29 - 13 min read</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="flexMe">
  <div class="arranged">
    <img src="../../assets/img/leaving-medium.png" alt="">
    <h2>Why is Hackernoon.com leaving Medium</h2>
    <p>David Smooke, CEO and Founder of Hackernoon here. Been a hectic week, a lot of misinformation floating around, but I took the time to sit...</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/david-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">David Smooke</a>
        <p id="date-details">Mar 15 - 1 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/contribute-story.png" alt="">
    <h2>How to Contribute a Story to Hacker Noon</h2>
    <p>We've revamped our story submission process. Stories@HackerNoon.com will remain an available open line for contributors, but in order to...</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/david-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">David Smooke</a>
        <p id="date-details">Jan 29 - 3 min read</p>
      </div>
    </div>
  </div>
  <div class="arranged">
    <img src="../../assets/img/hang-out.jpg" alt="">
    <h2>Where Hackers Hang Out</h2>
    <p>Hackernoon Community Enters Public Beta</p>
    <div class="bottom">
      <img class="insta" src="../../assets/img/david-insta.jpeg" alt="">
      <div class="sort">
        <a href="#">David Smooke</a>
        <p id="date-details">Mar 25 - 3 min read</p>
      </div>
    </div>
  </div> -->
</div>
