.topStories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.arranged {
  width: 100%;
}

.highlighted {
  width: 100%;
  height: 352px;
  overflow: hidden;
  object-fit: cover;
}

.spread {
  max-width: 328px;
  max-height: 174px;
}

a {
  text-decoration: none;
  color: #008E00;
}

.bottom {
  display: flex;
}

.sort {
  margin-top: -1%;
  margin-left: 2%;
}

.insta {
  max-width: 32px;
  max-height: 32px;
}


#date-details {
  margin-top: 1px;
}
